body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: rgb(235, 231, 230)
    
  }
  
.main-header {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    /* background-color: blueviolet; */
     
} 
.logo-and-menu-block{
    float: left;
    width: 80%;
    /* background-color: aqua; */
    height: 70px;
}

.icon-block-in-logo{
    display: inline-block;
    width: 30%;
    /* background-color: blue; */
}

.logo-text{
   
    text-decoration: none;
    color: black; 
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: calc((70px - 50px)/2);
}
#circle{
color:green;
padding: 5px;
float:left ;

}

.menu-block{
    /* background-color: brown; */
    font-size: 25px; 
    word-spacing: 25px;
    display: inline-block;
    width: 69%;
    margin-top: calc((70px - 25px)/2);
}

.menu{
    padding: 5px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
   color:black;
    text-transform: capitalize;
    
}


.menu:hover{
    background-color: azure;
    color: black;
    padding: 5px;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    }

.signUp-and-bag-block{
   float: right;
   width: 20%;
     margin-top: calc((70px - 15px)/2);
   font-size: 15px;
   
}
.signUp{
    background-color: rgb(196, 24, 24);
    word-spacing:normal;
     color: white; 
     border-radius: 50px;
     padding: 15px 30px 15px 30px; 
     text-decoration: none;
    
   
}
.signUp-and-bag-block>button{
    border: none;
    background: none;
}
.fa{
    color: rgb(49, 46, 46);
    font-size: 20px;
}


.signUp:hover{
    background-color: rgb(238, 134, 168);
  
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    
}

main{

width:100%; 
display: inline block;
margin-top: 30px ;
}
.hero{
    margin-left: 130px; 
    margin-top: 40px;
    width: 35%; 
    display: inline-block;
  
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size: 80px;
    margin-bottom: 50px;
}
.view-menu-button{
background-color: rgb(211,27,39);

border-radius: 50px; 
padding: 15px 35px 15px 35px; 
color: white; 
text-transform: capitalize;
}

.book-table-button{
background-color: rgb(253, 253, 253);

border-radius: 50px; 
padding: 15px 35px 15px 35px; 
color:black; 
text-transform: capitalize;
}

.book-table-button:hover{
background-color: rgb(235, 228, 228);
border-radius: 20px;
transition: 0.2s;
cursor: pointer;
}
.view-menu-button:hover{
    background-color: rgb(238, 134, 168);
    
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
  
}
.reviews-block{
    margin-top:50px;
    margin-bottom: 50px;
}

.reviews-block>img{
    margin-top: 15px;
}
.stars{
    margin-top: 10px;
}

.hero-plate{
    display: inline-block; 
    width: 50%; 
    



}
.various-food{
    display:block;
    width: 100%;
    background-color:blueviolet;
}

.four-plates{
    display: inline-block;
    width: 15%;
    background-color: aqua;
}
.checked {
    color: orange;
  }